<!DOCTYPE html>
<!-- do not need any more -->
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Title')}"></th:block>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" />
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main>
    <div class="container-fluid">
      <div class="row">
        <!-- search colapse & map & facility... -->
        <div class="col-md-3">

            <div th:replace="~{/layout/guest-base::search-vertical}"></div>

            <div th:replace="~{/layout/guest-base::gg-map}"></div>


            <div>
              <h4>What guest love</h4>
              
              <!-- each comment -->
              <div>
                <!-- commnent -->
                <div style="font-size: 0.8em" class="my-1">
                    “Spent one night during our vacation. The hotel is well situated for sightseeing, shopping and good local res. The hotel has a great atmosphere and lots of character. Our room was massive and extremely comfortable. The staff were very helpful and accommodating. They are deserved for very good review after our nice stay.”
                </div>
                <!-- media object -->
                <div>
                  <div class="media">
                    <a class="d-flex align-self-center mr-2" href="#">
                      <img src="" alt="" style="height: 30px; width: 30px;" class="rounded-circle bg-warning">
                    </a>
                    <div class="media-body">
                      <div style="font-size: 1em">Mr. Abc</div>
                      <div style="font-size: 0.7em">From England</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- each comment -->
              <div>
                <!-- commnent -->
                <div style="font-size: 0.8em" class="my-1">
                    “We booked another hotel before but We got nightmare. We decided to change to this hotel and we were definitely happy. The room was very attractive and well furnished with bathtub. Location was quiet as advertising.
                    The staff was always cheerful and very helpful. Marcus and Kelly provided excellent services.”
                </div>
                <!-- media object -->
                <div>
                  <div class="media">
                    <a class="d-flex align-self-center mr-2" href="#">
                      <img src="" alt="" style="height: 30px; width: 30px;" class="rounded-circle bg-info">
                    </a>
                    <div class="media-body">
                      <div style="font-size: 1em">Mrs. QWE</div>
                      <div style="font-size: 0.7em">From Germany</div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- each comment -->
              <div>
                <!-- commnent -->
                <div style="font-size: 0.8em" class="my-1">
                    “This hotel was fantastic. Best hotel room we have ever stayed during this holiday and staff was very friendly and helpful. Try to stay on upper floor. Can walk to the most local areas having vietnamese foods and fresh beer ( BIA HOI ). Airport transfer was arranged on time and driver was also great. Would definitely eveyone book a trip to Halong bay with hotel. It was such amazing and reasonable together with quality. Nice hotel !!!”
                </div>
                <!-- media object -->
                <div>
                  <div class="media">
                    <a class="d-flex align-self-center mr-2" href="#">
                      <img src="" alt="" style="height: 30px; width: 30px;" class="rounded-circle bg-success">
                    </a>
                    <div class="media-body">
                      <div style="font-size: 1em">Mr. ASD</div>
                      <div style="font-size: 0.7em">From Austria</div>
                    </div>
                  </div>
                </div>
              </div>


            </div>


        </div>

        <!-- hotel info -->
        <div class="col-md-9">
          <!-- hotel name, address,  -->
          <div>
            <div>[[${hotel.name}]]</div>
            <div>[[${hotel.address}]]</div>
          </div>
          <div></div>
          <!-- gallery -->
          <div>
            <ul id="imgGallery">
              <li th:each="imgURL : ${hotel.imgURLs}" th:data-thumb="@{${imgURL}}">
                <img style="height: 450px; width: 100%; object-fit: cover" th:src="@{${imgURL}}" alt="img not found" />
              </li>
            </ul>
          </div>
          <!-- description -->
          <div>
            [[${hotel.description}]]
          </div>
          <!-- room remain -->
          <!-- facility -->
          <div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
  <script>
    $(document).ready(function () {
      $("#imgGallery").lightSlider({
        gallery: true,
        item: 1,
        loop: true,
        thumbItem: 9,
        keyPress: true,
        controls: true
      });
    });
  </script>
</body>

</html>