<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Title')}"></th:block>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" />
  <script th:src="@{/js/share/slider/hotel-gallery.js}"></script>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main>
    <div class="container-fluid">

      <div class="row">
        <!-- navside -->
        <div class="col-md-3">
          <nav th:replace="~{/layout/host-base::navside(${session.hid})}"></nav>
        </div>
        <!-- info -->
        <div class="col-md-9">
          <h3 class="clearfix"> [[${hotel.name}]]
            <a th:href="@{/host/manage/hotels/{hid}/edit(hid=${hotel.id})}" class="btn btn-warning float-right">Edit</a>
          </h3>
          <!-- img galerry -->
          <div>
            <ul id="imgGallery">
              <li th:each="imgURL : ${hotel.imgURLs}" th:data-thumb="@{${imgURL}}">
                <img style="height: 450px; width: 100%; object-fit: cover" th:src="@{${imgURL}}" alt="img not found" />
              </li>
            </ul>
          </div>

          <!-- description -->
          <div>
            <h4>Description</h4>
            <div th:utext="${hotel.description}">
            </div>
          </div>

          <!-- facility -->

        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
  <script>
  
    </script>
</body>

</html>