<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->

<head th:fragment="head (title)">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title th:text="${title}">Document</title>
  <!-- bs + jquery + fa -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css" />
  
  <!-- slider -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" /> -->

  <!-- date picker -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script> -->

  <!-- date picker 2 -->
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> -->
</head>

<body>
  <!-- header -->
  <header th:fragment="header" id="header">
    <div class="container-fluid py-3 mb-3" style="background-color: #e9ecef">
      <!-- above row -->
      <div class="row">
        <!-- logo -->
        <div class="col-md-6">
          <a href="/guest/home">Booking.vn</a>
        </div>
        <!-- login signup || icons -->
        <div class="col-md-6">

          <!-- user == null -->
          <div th:if="${session.acc} == null">
            <!-- login -->
            <div style="display: inline-block">
              <button data-toggle="modal" data-target="#loginModal" class="btn btn-outline-primary">
                Login
              </button>
              <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="container-fluid my-container">
                          <form th:action="@{/acc/login}" method="POST" autocomplete="on" id="login-form">
                            <div class="form-group">
                              <label for="username">Username: </label>
                              <input type="text" class="form-control" name="username" id="username"
                                placeholder="username" />
                            </div>
                            <div class="form-group">
                              <label for="password">Password</label>
                              <input type="password" name="password" id="password" class="form-control"
                                placeholder="password" />
                            </div>
                            <div></div>
                          </form>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                          Close
                        </button>
                        <button type="submit" class="btn btn-primary" form="login-form">
                          Login
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- signup -->
            <div style="display: inline-block">
              <a th:href="@{/acc/signup}" class="btn btn-outline-primary">Sign up</a>
            </div>
          </div>

          <!-- user != null -->
          <div th:if="${session.acc} != null">
            <!-- mail icon -->
            <div style="display: inline-block">
              <i class="fas fa-mail-bulk"></i>
            </div>
            <!-- user icon -->
            <div style="display: inline-block">
              <div style="display: inline-block">
                <div class="dropdown">
                  <a id="user-icon" data-toggle="dropdown">
                    <img th:src="@{${session.acc.imgURL}}" alt="No img found" class="rounded-circle"
                      style="width: 30px; height: 30px; object-fit: cover" />
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-icon">
                    <th:block th:if="${session.acc.role} == ${T(webtech.gr14.util.enums.AccRole).ADMIN}" >
                      <a th:href="@{/admin/manage/submits}"
                        class="dropdown-item btn btn-primary ">Admin - Quản lý</a>
                      <div class="dropdown-divider"></div>
                    </th:block>

                    <th:block  th:if="${session.acc.role} == ${T(webtech.gr14.util.enums.AccRole).HOST}" >
                      <a th:href="@{/host/manage/hotels}"
                        class="dropdown-item btn btn-primary ">Quản lý khách sạn</a>
                      <div class="dropdown-divider"></div>
                    </th:block>

                    <a class="dropdown-item" th:href="@{/acc/profiles/{aid}(aid=${session.acc.id})}">Thông tin tài
                      khoản</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" th:href="@{/guest/reserve-history}">Lịch sử đặt phòng</a>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item" th:href="@{/acc/profiles/{aid}/change-password(aid=${session.acc.id})}">Đổi
                      mật khẩu</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-right" th:href="@{/acc/logout}">Đăng xuất <i
                        class="fas fa-sign-out-alt"></i></a>
                  </div>
                </div>
              </div>
              <div style="display: inline-block" id="acc-name-on-header" th:text="${session.acc.name}">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div style="display: inline-block">Accommodations</div>
        <div style="display: inline-block">Flights</div>
        <div style="display: inline-block">Car Rentals</div>
        <div style="display: inline-block">Airport Taxis</div>
      </div>
    </div>
  </header>
  <main>


  </main>
  <!-- footer -->
  <footer th:fragment="footer" id="footer">
    <div class="jumbotron jumbotron-fluid mb-0 mt-3">
      <div class="container-fluid">
        <h1 class="display-3">Footer</h1>
        <p class="lead">Booking.vn</p>
      </div>
    </div>
  </footer>
</body>

</html>