<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="~{/base::head ('Home')}"></th:block>
  </head>
  <body>
     <!-- header -->
    <header th:replace="/base::header"></header>
    
    <nav>
      <div th:if="${session.acc} == null">
        <button data-toggle="modal" data-target="#loginModal"> Login</button>
        <a th:href="@{/acc/signup}">Sign up</a>
        <div class="container">
          <!-- Modal -->
          <div
            class="modal fade"
            id="loginModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="modelTitleId"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Login</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid my-container">
                    <form
                      th:action="@{/acc/login}"
                      method="POST"
                      autocomplete="on"
                      id="login-form"
                    >
                      <div class="form-group">
                        <label for="username">Username: </label>
                        <input
                          type="text"
                          class="form-control"
                          name="username"
                          id="username"
                          placeholder="username"
                        />
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input
                          type="password"
                          name="password"
                          id="password"
                          class="form-control"
                          placeholder="password"
                        />
                      </div>
                      <div></div>
                    </form>
                  </div>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary" form="login-form">Login</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:if="${session.acc} != null">
        Hello <span th:text="${session.acc.name}"></span>
        <a th:href="@{/acc/logout}">Logout</a>
      </div>
    </nav>
    <main>


    </main>
    <!-- footer -->
    <footer th:replace="/base::footer"></footer>
  </body>
</html>
