<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Home')}"></th:block>
  <!-- date picker 2 -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <script src="/js/guest/home/live-search.js"></script>
  <script src="/js/guest/home/slider-setting.js"></script>
  <!-- slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.css" />
  <style>
    div.row div.col-md-4 img {
      height: 250px;
      width: 100%;
      object-fit: cover;
    }

    div.row div.col-md-6 img {
      height: 350px;
      width: 100%;
      object-fit: cover;
    }

    div.container-fluid {
      margin-top: 2rem;
    }

    div.row {
      margin-top: 1rem;
    }

    div div div img {
      max-height: 350px;
    }
  </style>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main>
    <!-- search box -->
    <div class="container-fluid py-3">
      <h3>Find your best deal</h3>
      <form th:action="@{/guest/search-hotels}" method="post" id="myform">
        <div class="container-fluid">
          <div class="row ">
            <div class="col-md-5 px-1">
              <div style="position: relative;">
                <input type="search" name="address" id="search-box" class="form-control" placeholder="...Ha Noi"
                  required />
                <div
                  style="position: absolute; overflow: auto; max-height: 250px; width: 100%; background-color:white; z-index: 9;"
                  id="search-result"></div>
              </div>
            </div>

            <div class="col-md-4 px-1">
              <input class="form-control datepicker" type="text" name="dateRange" required>
            </div>

            <div class="col-md-1 px-1">
              <input class="form-control" type="number" name="numOfRoom" placeholder="room" required>
            </div>
            <div class="col-md-1 px-1">
              <input class="form-control" type="number" name="numOfPeople" placeholder="people" required>
            </div>
            <div class="col-md-1 px-1">
              <button class="form-control btn btn-primary" type="submit" form="myform">Search</button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <!-- festivals -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img src="/images/location/sapa.jpg" alt="">
        </div>
        <div class="col-md-4">
          <img src="/images/location/sondoong.jpg" alt="">
        </div>
        <div class="col-md-4">
          <img src="/images/location/ninhbinh.jpg" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/images/location/danang.jpg" alt="">
        </div>
        <div class="col-md-6">
          <img src="/images/location/hue.jpg" alt="">
        </div>
      </div>
    </div>

    <!-- top hotel -->

    <div class="container-fluid">
      <ul class="my-slider">
        <li th:each="hotel: ${hotels}">
          <div class="card">
            <img class="card-img-top" th:src="@{${hotel.imgURL}}" alt="no img found"
              style="height: 300px; width: 100%; object-fit: cover">
            <div class="card-body">
              <h4 class="card-title">[[${hotel.name}]]</h4>
              <p class="card-text">[[${hotel.score}]]</p>
              <a th:href="@{/guest/hotels/{hid}(hid=${hotel.id})}" class="card-link stretched-link"></a>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- location -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <img src="/images/location/sapa.jpg" style="width: 100%; height: auto; object-fit: cover" alt="">
        </div>
        <div class="col-md-6">
          <img src="/images/location/sapa.jpg" style="width: 100%; height: auto; object-fit: cover" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="/images/location/sapa.jpg" style="width: 100%; height: auto; object-fit: cover" alt="">
        </div>
        <div class="col-md-4">
          <img src="/images/location/sapa.jpg" style="width: 100%; height: auto; object-fit: cover" alt="">
        </div>
        <div class="col-md-4">
          <img src="/images/location/sapa.jpg" style="width: 100%; height: auto; object-fit: cover" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="/images/location/sapa.jpg" style="width: 100%; height: auto; object-fit: cover" alt="">
        </div>
        <div class="col-md-3">
          <img src="/images/location/sapa.jpg" style="width: 100%; height: auto; object-fit: cover" alt="">
        </div>
        <div class="col-md-3">
          <img src="/images/location/sapa.jpg" style="width: 100%; height: auto; object-fit: cover" alt="">
        </div>
        <div class="col-md-3">
          <img src="/images/location/sapa.jpg" style="width: 100%; height: auto; object-fit: cover" alt="">
        </div>
      </div>
    </div>

  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
  <script>
    $('input.datepicker').daterangepicker();
  </script>

</body>

</html>