<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Find hotel in District')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main>


    <div class="container-fluid">
      <div class="row">
        <!-- search-colapse & filter -->
        <div class="col-md-3">
          <!-- search-box-collapse -->
        <div th:replace="~{/layout/guest-base::search-vertical}"></div>

          <!-- filter -->
          <div>
            <h4>Filter by</h4>

            <div>
              <h5>Star</h5>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('star')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('star')}">One Star</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('star')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('star')}">Two Star</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('star')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('star')}">Three Star</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('star')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('star')}">Four Star</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('star')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('star')}">Five Star</label>
              </div>
            </div>
          </div>

          <div>
              <h5>Distance from center</h5>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('distance')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('distance')}">Less than 1 km</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('distance')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('distance')}">Less than 3 km</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('distance')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('distance')}">Less than 5 km</label>
              </div>
            </div>
          


          <div>
              <h5>Fun Things To Do</h5>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('fun')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('fun')}">Bicycle rental</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('fun')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('fun')}">Walking tours</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('fun')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('fun')}">Bike tours</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('fun')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('fun')}">Cooking class</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('fun')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('fun')}">Local culture tour</label>
              </div>
            </div>


          <div>
              <h5>Facilities</h5>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('Facilities')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('Facilities')}">Parking</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('Facilities')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('Facilities')}">Restaurant</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('Facilities')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('Facilities')}">Pet friendly</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('Facilities')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('Facilities')}">Room service</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('Facilities')}" name="example1">
                <label class="custom-control-label" th:for="${#ids.prev('Facilities')}">Fitness center</label>
              </div>
            </div>


            <div>
              
            </div>

        </div>

        

        <!-- results -->
        <div class="col-md-9">
          <!-- result summary -->
          <div>
            Found xyz property in Ha Noi
          </div>
          <div th:each="hotel : ${hotels}" class="hotel-info py-3 my-3 ">
            <div class="row ">
              <div class="col-md-4">
                <a th:href="@{/guest/hotels/{hid}(hid = ${hotel.id})}">
                  <img th:src="@{${hotel.imgURL}}" alt="no img" style="height: 200px; width: 100%; object-fit: cover">
                </a>
              </div>
              <div class="col-md-8">
                <div>[[${hotel.name}]]</div>
                <div>[[${hotel.address}]]</div>
                <a th:href="@{/guest/hotels/{hid}(hid = ${hotel.id})}" class="btn btn-primary">See available rooms</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
  <style>
    .hover-background {
      background-color:#e9f0fa;
    }
  </style>
  <script>
    $(document).ready(function () {
      $('.hotel-info').hover(function () { 
        $(this).toggleClass('hover-background');
      })
    });
  </script>
</body>

</html>