<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Title')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <!-- checkin checkout detail -->
          <section>

          </section>

          <!-- rooms selected -->
          <section>

          </section>
          <!-- charge -->
          <section>

          </section>

        </div>
        <div class="col-md-9">
          <!-- hotel img and name and so on -->
          <section>

          </section>

          <!-- each room input your name -->
          <section>

          </section>

          <!-- ask question -->
          <section>

          </section>
        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
</body>

</html>