<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Title')}"></th:block>
  <!-- date picker -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
  <script src="/js/host/manage/adjust/list/adjust.js"></script>
  <script src="/js/host/manage/adjust/list/switch.js"></script>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main th:id="${session.hid}">
    <div class="container-fluid">
      <div class="row">
        <!-- navside -->
        <div class="col-md-3">
          <nav th:replace="~{/layout/host-base::navside(${session.hid})}"></nav>
        </div>

        <!-- right side -->
        <div class="col-md-9">
          <div th:each="floor : ${floors}" class="container-fluid">

            <h5>[[${floor.id}]] - [[${floor.name}]]</h5>

            <div></div>
            <div class="custom-control custom-switch float-right" style="display: inline-block;">
              <input type="checkbox" class="custom-control-input" th:id="${#ids.seq('switch')}" th:checked="${floor.active}" th:name="${floor.id}">
               <label class="custom-control-label" th:for="${#ids.prev('switch')}"></label>
            </div>
    
                <div>
                  <div>[[${floor.roomType}]] [[${floor.roomQuality}]]</div>
                  <div>[[${floor.numOfRoom}]] Rooms</div>
                </div>
    
                <div th:id="${floor.id}">
                  <div style="display: inline-block">Open: <input type="text" name="openDates" readonly="true"
                      th:value="${floor.openDates}"></div>
                  <div style="display: inline-block">Price: <input type="number" name="price" readonly="true"
                      th:value="${floor.price}"></div>
                  <button class="btn btn-warning adjust-btn">Adjust</button>
                  <button class="btn btn-primary save-btn" style="display: none">Save</button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
  <script>
   
  </script>
</body>

</html>