<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Add Location Article')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div th:replace="~{/layout/admin-base::nav}"></div>
        </div>
        <div class="col-md-9">
          <!-- header -->
          <div>
            <h4>
              Add new location
            </h4>
          </div>
          <!-- form -->
          <div>
            <form th:action="@{/admin/creation/locations/add}" method="post" enctype="multipart/form-data" th:object="${location}">
              <div class="form-group">

                <input type="text" th:field="*{name}" id="name" class="form-control" placeholder="Location name">
              </div>

              <div class="custom-file my-3">
                <input type="file" name="img" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
              </div>

              <div class="form-group">
                <label for="province">Province</label>
                <select th:field="*{province.id}" class="form-control" id="province">
                  <option th:each="province : ${provinces}" th:value="${province.id}" th:text="${province.name}">
                  </option>
                </select>
              </div>

              <div class="custom-control custom-switch my-3">
                <input type="checkbox" class="custom-control-input" id="switch1" th:field="*{active}">
                <label class="custom-control-label" for="switch1">On/Off</label>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>

          <!-- paganation -->
          <div>

          </div>

        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>
</body>

</html>