<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <th:block th:include="~{/layout/base::head ('Title')}"></th:block>
  </head>

  <body>
    <!-- header -->
    <header th:replace="~{/layout/base::header}"></header>

    <!-- main -->
    <main>
        <div class="container-fluid">
            <div class="row">
              <!-- alert success and login form -->
              <div class="col-md-4">
                  <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>
                    </button>
                    <strong>Đổi mật khẩu thành công!</strong>
                  </div>
      
                  <h3>Đăng nhập</h3>
                  <form th:action="@{/acc/login}" method="POST">
                    <div class="form-group">
                      <label for="username">Username: </label>
                      <input
                        type="text"
                        class="form-control"
                        name="username"
                        id="username"
                        placeholder="username"
                      />
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control"
                        placeholder="password"
                      />
                    </div>
                    <div>
                      <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                  </form>
                  
              </div>
              <!-- right side -->
              <div class="col-md-8">
      
              </div>
    </main>   

    <!-- footer -->
    <footer th:replace="~{/layout/base::footer}"></footer>
  </body>
  
</html>
