<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Title')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div th:if="${msg} != null">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <strong>Password is not match</strong>
            </div>  
          </div>

          <h3>Change your password</h3>
          <form th:action="@{/acc/profiles/{aid}/change-password(aid=${aid})}" method="post">
            <div class="form-group">
              <label for="pw">New password</label>
              <input type="password" class="form-control" name="pw" id="pw" aria-describedby="helpId" placeholder="">
            </div>

            <div class="form-group">
              <label for="cpw">Confirm password</label>
              <input type="password" class="form-control" name="cpw" id="cpw" aria-describedby="helpId" placeholder="">
            </div>

            <button type="submit" class="btn btn-primary float-right">Submit</button>
          </form>
        </div>
        <div class="col-md-9"></div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
</body>

</html>