<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Title')}"></th:block>
  <script th:src="@{/js/admin/manage/guest/bad-transaction/mark-checked.js}"></script>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main>
    <div class="container-fluid">

      <div class="row">
        <!-- navside -->
        <div class="col-md-3">
          <div th:replace="~{/layout/admin-base::nav}"></div>
        </div>

        <!-- transactions info -->
        <div class="col-md-9">
          <div th:each="ro : ${trans}" class="my-container" th:id="${ro.id}">

            <!-- ro id and guest info btn -->
            <h5 class="clearfix">Reserve id: [[${ro.id}]]
              <a th:href="@{/admin/manage/guests/{gid}(gid=${ro.acc.id})}"
                class="btn btn-outline-info btn-sm float-right">Guest Info <i class="fas fa-external-link-alt"></i></a>
            </h5>

            <!-- ro info -->
            <div>
              <div>
                Date: [[${ro.date}]]
              </div>
            </div>

            <!-- guest and hotel info -->
            <div class="contanier-fluid">
              <div class="row">
                <div class="col-md-6">
                  <div>Guest Id: [[${ro.acc.id}]]</div>
                  <div>Guest Name: [[${ro.acc.name}]]</div>
                </div>
                <div class="col-md-6">
                  <div>Hotel Id: [[${ro.hotel.id}]]</div>
                  <div>Hotel Name: [[${ro.hotel.name}]]</div>
                </div>
              </div>
            </div>

            <!-- check status -->
            <div th:if="${ro.checkedGuest} == false" class="clearfix">
              <button type="button" class="btn btn-primary btn-sm float-right mark-checked-btn">Mark checked</button>
            </div>
            <div th:if="${ro.checkedGuest} == true" class="clearfix">
              <i class="float-right">checked  <i class="fas fa-check-double text-success"></i> </i>
            </div>
          </div>

        </div>
      </div>


    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
  <style>
    .hover-background {
      background-color: #e9f0fa;
    }

    .my-container {
      margin-bottom: 0.5rem;
      padding: 1rem;
    }
  </style>
  <script>
    $(document).ready(function () {
      $('.my-container').hover(function () {
        $(this).toggleClass('hover-background');
      })
    });
  </script>
</body>

</html>