<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Title')}"></th:block>
  <script th:src="@{/js/admin/manage/guest/guest-info/load-more-transaction.js}"></script>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main th:id="${guest.id}">
    <div class="container-fluid">
      <div class="row">
        <!-- navside -->
        <div class="col-md-3">
          <div th:replace="~{/layout/admin-base::nav}"></div>
        </div>
        <!-- guest info -->
        <div class="col-md-9">
          <!-- basic info -->
          <div class="my-2 container-fluid mx-0">
            <div class="row">
              <div class="col-md-3">
                <img th:src="${guest.imgURL}" alt="no img found" style="height: 300px; width: 100%; object-fit: cover">
              </div>
              <div class="col-md-9">
                  <div id="alertHTML"></div>
                <div>[[${guest.name}]]</div>

                <!-- action btn -->
                <div id="parent" th:name="${guest.activeState}">
                  <button id="warning-btn" type="button" class="btn btn-warning" style="display: none">Warning</button>
                  <button id="unwarning-btn" type="button" class="btn btn-primary"
                    style="display: none">Unwarning</button>
                  <button id="block-btn" type="button" class="btn btn-danger" style="display: none">Block</button>
                  <button id="unblock-btn" type="button" class="btn btn-primary" style="display: none">Unblock</button>
                </div>
              </div>
            </div>
          </div>

          <!-- transaction info -->
          <div id="transacions" class="my-2">
            <div th:each="ro: ${reserveOrders}" class="bg-secondary my-1">
              <div>RO Id: [[${ro.id}]]</div>
              <div>RO Date: [[${ro.date}]]</div>
              <div>Hotel Name: [[${ro.hotel.name}]]</div>
              <div>Vote by Hotel: [[${ro.voteByHost}]]</div>
            </div>
          </div>



          <!-- load more tran -->
          <div style="text-align: center" class="my-2">
            <button id="load-more-btn" type="button" class="btn btn-outline-primary">Load more transaction</button>
          </div>


        </div>
      </div>
    </div>

  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
  <script>
    $(document).ready(function () {
      function checkState() {
        var state = $('#parent').attr("name");
        if (state == "ACTIVE") {
          $('#unwarning-btn').hide();
          $('#unblock-btn').hide();
          $('#warning-btn').show();
          $('#block-btn').show();
        } else if (state == "WARNING") {
          $('#unwarning-btn').show();
          $('#unblock-btn').hide();
          $('#warning-btn').hide();
          $('#block-btn').show();
        } else if (state == "BLOCKED") {
          $('#unwarning-btn').hide();
          $('#unblock-btn').show();
          $('#warning-btn').hide();
          $('#block-btn').hide();
        } else if (state == "WATTING") {
          $('#unwarning-btn').hide();
          $('#unblock-btn').hide();
          $('#warning-btn').hide();
          $('#block-btn').hide();
        }
      }

      checkState();

      function callAjax(action) {
        var gid = $('main').attr("id");
        var url = "/admin/manage/guests/" + gid + "/" + action;
        $.get(url, {},
          function (response, textStatus, jqXHR) {
            if (textStatus == "success") {
              $('#parent').attr("name", response);
              $('#activeState').text(response);
              checkState();

              var alertMsg = "Account state now is: " + response;
              var alertPattern =
                '<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                '<span aria-hidden="true">&times;</span>' +
                '<span class="sr-only">Close</span>' +
                '</button>' +
                '<strong>' +
                alertMsg +
                '</strong>' +
                '</div>';
              $('#alertHTML').html(alertPattern);
            }
          },
          "text"
        );
      }

      $('#warning-btn').click(function (e) {
        callAjax("warning");
      });

      $('#unwarning-btn').click(function (e) {
        callAjax("unwarning");
      });

      $('#block-btn').click(function (e) {
        callAjax("block");
      });

      $('#unblock-btn').click(function (e) {
        callAjax("unblock");
      });

    });
  </script>
</body>

</html>