<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Guest Info')}"></th:block>
  <script th:src="@{/js/admin/manage/guest/guest-info/load-more-transaction.js}"></script>
  <script src="/js/admin/manage/guest/guest-info/action.js"></script>
  <style>
    .ro-container {
      margin: 2rem 0;
      background-color: #ecf0f1;

    }
  </style>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main th:id="${guest.id}">
    <div class="container-fluid">
      <div class="row">
        <!-- navside -->
        <div class="col-md-3">
          <div th:replace="~{/layout/admin-base::nav}"></div>
        </div>
        <!-- guest info -->
        <div class="col-md-9">
          <!-- basic info -->
          <div class="my-2 container-fluid mx-0">
            <div class="row">
              <div class="col-md-3">
                <img th:src="${guest.imgURL}" alt="no img found" style="height: 300px; width: 100%; object-fit: cover">
              </div>
              <div class="col-md-9">
                  <div id="alertHTML"></div>
                <div>[[${guest.name}]]</div>

                <!-- action btn -->
                <div id="parent" th:name="${guest.activeState}">
                  <button id="warning-btn" type="button" class="btn btn-warning" style="display: none">Warning</button>
                  <button id="unwarning-btn" type="button" class="btn btn-primary"
                    style="display: none">Unwarning</button>
                  <button id="block-btn" type="button" class="btn btn-danger" style="display: none">Block</button>
                  <button id="unblock-btn" type="button" class="btn btn-primary" style="display: none">Unblock</button>
                </div>
              </div>
            </div>
          </div>

          <!-- transaction info -->
          <div id="transacions" class="my-2">
            <div th:each="ro: ${reserveOrders}" class="my-2 ro-container">
              <div>Reserve id: [[${ro.id}]]</div>
              <div>Reserve date: [[${ro.date}]]</div>
              <div>Hotel name: [[${ro.hotel.name}]]</div>
              <div>Vote by hotel: [[${ro.voteByHost}]] star</div>
            </div>
          </div>



          <!-- load more tran -->
          <div style="text-align: center" class="my-2">
            <button id="load-more-btn" type="button" class="btn btn-outline-primary">Load more transaction</button>
          </div>


        </div>
      </div>
    </div>

  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>
  <script>
  
  </script>
</body>

</html>