<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/layout/base::head ('Title')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/layout/base::header}"></header>

  <!-- main -->
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div th:replace="~{/layout/admin-base::nav}"></div>
        </div>
        <div class="col-md-9">

          <!-- hotels -->
          <div th:each="hotel : ${submits}" class="my-container" th:id="${hotel.id}">
            <!-- title -->
            <h5 class="clearfix">Submit id: [[${hotel.id}]]
              <a th:href="@{/admin/manage/submits/{sid}(sid=${hotel.id})}"
                class="btn btn-outline-info btn-sm float-right">Hotel Info <i class="fas fa-external-link-alt"></i></a>
            </h5>

            <!-- submit date -->
            <div>
              <div>Submit Date: [[${hotel.submitDate}]]</div>
            </div>

            <!-- hotel info -->
            <div>
              <div>Hotel name: [[${hotel.name}]]</div>
              <div>Address: [[${hotel.address}]]</div>
            </div>

            <!-- handle info -->
            <div style="text-align: right">
              <i th:if="${hotel.submitState} == ${T(webtech.gr14.util.enums.SubmitState).NEW} ">NEW</i>
              <i th:if="${hotel.submitState} == ${T(webtech.gr14.util.enums.SubmitState).PROCESSING}">PROCESSING</i>
              <i th:if="${hotel.submitState} == ${T(webtech.gr14.util.enums.SubmitState).APPROVALED}">APPROVALED</i>
              <i th:if="${hotel.submitState} == ${T(webtech.gr14.util.enums.SubmitState).DECLINED} ">DECLINED</i>
              <div>[[${hotel.handleSubmitDate}]]</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/layout/base::footer}"></footer>

  <style>
      .hover-background {
        background-color: #e9f0fa;
      }
    
      .my-container {
        margin-bottom: 0.5rem;
        padding: 1rem;
      }
    </style>
    <script>
      $('.my-container').hover(function () {
        $(this).toggleClass('hover-background');
      })
    </script>
</body>

</html>